body{text-align: center; background-color: lightgray;}
main{margin-top: 1em;}
#dr{background-color: whitesmoke; padding-bottom: 2em; margin-top: 12em;}
#tribute-info{background-color: lightgray; font-size: 21px;}
#ak{margin-left: 16.9em;}